*{
    text-decoration: none;
    list-style: none;
    }
    nav{
    background: black;
    height: 100px;
    width: 100%;
    padding-top: 15px;
    position: fixed;
    }
    label.logo{
        float: left;
        padding: 0 280px;
    }
    .logo img{
        width: 200px;
    }
    nav ul{
    float: right;
    margin-right: 280px;
    }
    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    }
    a.active,a:hover{
    background: #B90B66;
    transition: .5s;
    }
    .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #check{
    display: none;
    }
    
    @media (max-width: 952px){
    label.logo{
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 16px;
    }
    }
    @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #313131;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        /* background: none; */
        background-color: #B90B66;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
    }
    section{
    background: url(./images2/menu.png) no-repeat;
    background-size: cover;
    height: calc(-100px);
    }